<div xmlns:th="http://www.thymeleaf.org"
     style="border:1px solid #ccc;padding:5px;">
    <a th:href="@{/uploadOneFile}">Upload One File</a>
    &nbsp;|&nbsp;
    <a th:href="@{/uploadMultiFile}">Upload Multi File</a>
</div>