<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Person</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css"/>
</head>
<body>
<form method="POST" th:action="@{/addPerson}" th:object="${personForm}" class="form">
    <h2 class="form-title">Create a Person</h2>
    <div class="form-group">
        <label class="form-label">First Name:</label>
        <input th:field="*{firstName}" type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="form-label">Last Name:</label>
        <input th:field="*{lastName}" type="text" class="form-control"/>
    </div>
    <div class="form-error" th:if="${errorMessage}" th:utext="${errorMessage}">
        ...
    </div>
    <button type="submit" class="button">Create</button>
</form>
<br/>
</body>
</html>