body {font-size: 16px;}

h1, h2, h3, h4 {padding: 0; margin: 0;}

h1 {color: #222222; font-size: 3rem;}

h2 {color: #222222; font-size: 2rem}

table {border-collapse: collapse;}

table th, table td {padding: 5px;}

.form {width: 400px; margin: auto; background: white; border-radius: 1.25rem; box-sizing: border-box; padding: 2rem;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); margin-top: 200px;
}

.form-title {margin-bottom: 2rem; text-align: center;}

.form-control {padding: 1.25rem 1rem; border: 1px solid gray; border-radius: 1rem; background: white; outline: none; width: 100%;
  box-sizing: border-box;
}

.form-error {color: red; margin-bottom: 1rem; font-style: italic;}

.form-group {margin-bottom: 1rem;}

.form-label {display: block; font-weight: 500;}

.button {padding: 1rem 1.25rem; border: none; border-radius: 1rem; background: darkgreen; color: white; outline: none;
  transition: all 0.3s; cursor: pointer; font-weight: 500;
}
.button:hover {box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); background: green;}