<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
    <a th:href="@{/}">Home</a>
    | &nbsp;
    <a th:href="@{/userInfo}">User Info</a>
    | &nbsp;
    <a th:href="@{/admin}">Admin</a>
    | &nbsp;
    <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
</div>